################################################################################
# MINITAGE LIBRARY PROJECT BUILDOUT
################################################################################
[buildout]
extensions=buildout.minitagificator
versions = versions
parts =
    part
hooks-directory = ${buildout:directory}/hooks
develop-eggs-directory=../../eggs/develop-eggs
eggs-directory=../../eggs/cache

[versions]
[part]
name = part
recipe = minitage.recipe.cmmi
darwin-patches=${buildout:directory}/patch-Makefile-dylib.diff
url = http://${mirrors:gentoo}/distfiles/bzip2-1.0.6.tar.gz
md5sum = 00b516f4704d4a7cb50a1d97e6e8e15b

noconfigure = true
make-targets = all
noinstall=true
post-make-hook = ${buildout:hooks-directory}/cmmi-hooks.py:bz2
patches=${buildout:directory}/minitage.patch
patch-options=-Np1

[mirrors]
gentoo= gentoo.tiscali.nl

#Darwin
#edit patch and replace
#1.0.4 by next version
#1.0 by compat version


